form.AddRecipePage-form {
    background-color: #FFFF;
    padding: 10px;
    border-radius: .3em;
    font-size: 1.3em;
}

.AddRecipePage-form-header {
    background-color: #FFFF ;
    padding: 15px;
    border: solid black 4px;
    border-radius: .5em;
}