.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: #FFFF;
    padding: 20px;
    border-radius: .3em;
    font-size: 1.3em;
}

.header-footer {
    margin-bottom: 1em;
}