:root {
  --green: #556B2F;
  --accent: #FFFF;
  --background: #F1E9DB;
  --secondary-dark: #556B2F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('shutterstock.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'Pacifico', cursive;
}

a {
  color: var(--accent);
  padding: 1vmin;
  border-radius: 1vmin;
  text-decoration: none !important;
}

a:hover {
  color: var(--green);
  background-color: var(--accent);
}

a.active {
  color: var(--background);
  background-color: var(--green);
  cursor: default;
}

dl {
  margin-bottom: 0;
}

.margin-left-10 {
  margin-left: 10px;
}